@import './default';

$bg-color: #2b3558;
$sidebar-menu-link-font-color: #f7f7f7;
$sidebar-menu-sub-menu-link-font-color: #b7b7b7;

$sidebar-menu-link-bg-color-on-hover: #566187;
$sidebar-menu-link-font-color-on-hover: #FFF;

@import '../base';